<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cleaning booking system</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    {{! Gjorde en navbar sålänge enligt den i figma för registrera-sidan men den funkar inte än. }}
    {{!-- {{#if notLoggedIn}}
      <nav>Städa fint</nav>
    {{/if}} --}}

    {{{body}}}

  </body>
</html>