<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cleaning booking system</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>

    {{#if loggedIn}}
      <nav>
        <a href="/booking">Hem</a>
        <a href="/mypage">Mina sidor</a>
        <a href="/logout">Logga ut</a>
      </nav>
    {{/if}}

    {{{body}}}

  </body>
</html>