  <div class="delete-booking">

        <p>{{date}}</p>
        <p>{{type}}</p>

      <h4>Vill du ta bort den här bokningen??</h4>
   
    <form action="/my-page/{{_id}}/delete" method="post">
      <input type="submit" value="Delete" />
    </form>
     </div>