<div class="hero-container">
  <div class="main-booking-container">
    <h2>Boka Städ</h2>
    <form action="/booking" method="post">
      <label for="cleanerName">Vem vill du boka?</label>
      <select name="cleanerName" id="cleanerName">
        <option value="1">Städare 1</option>
        <option value="2">Städare 2</option>
        <option value="3">Städare 3</option>
        <option value="3">Städare 4

        </option>
      </select>
      <label for="service">Vad för typ av städ?</label>
      <select name="service" id="service">
        <option value="basic">Basic städning</option>
        <option value="top">Topp städning</option>
        <option value="diamond">Diamant städning</option>
        <option value="window">Fönstertvätt</option>
      </select>
      <label for="date">När?</label>
      <input type="date" name="date" id="date" />
      <input type="button" value="Boka" />
    </form>
  </div>
</div>