<div>

  <div>
    <h2>Login</h2>
    <form action="/login" method="post">
      <div>
        <input type="text" name="username" placeholder=" " />
        <span>Username</span>
      </div>
      <div>
        <input type="password" name="password" placeholder=" " />
        <span>Password</span>
      </div>
      <p>{{error}}</p>
      <button type="submit">Login</button>

    </form>
  </div>

</div>