<div>
  <header>STÄDA FINT</header>
</div>

<div class="main-register-container">
  <h2>Registrera ny användare</h2>

  <p class="error">{{error}}</p>

  <form action="/" method="post">
    <input
      type="text"
      name="username"
      placeholder="Användarnamn"
      class="form"
    />
    <br />
    <input
      type="password"
      name="password"
      placeholder="Lösenord"
      class="form"
    />
    <br />
    <input
      type="password"
      name="confirmPassword"
      placeholder="Bekräfta lösenord"
      class="form"
    />
    <br />
    <input type="submit" value="Skapa" class="btn" />
  </form>
</div>
<a href="/login">Eller logga in</a>