@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Playfair+Display&display=swap");

/* Green color */
/* #c0d6bf */

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Playfair Display", serif; */
}

/* REGISTER & LOGIN */
.auth-header {
  background-color: #c0d6bf;
  padding: 20px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
}

.book-h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.main-register-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  width: 200px;
  margin: 10px;
}

select::-ms-value {
  background: none; /* remove blue background on ie10/ie11 when selected*/
  color: #5a5a5a;
}
.select-arrow {
  position: relative;
}

.select-selected {
  background-color: #c0d6bf;
  text-decoration: none;
}

input {
  width: 200px;
  margin: 10px;
}

#boka {
  width: 50px;
  margin: 10px;
  background-color: #c0d6bf;
  border: 1px solid black;
  border-radius: 5px;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-group {
  width: 300px;
  position: relative;
}

.input {
  margin-bottom: 10px;
  width: 100%;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  min-width: 200px;
}

.input:focus {
  outline: none;
}

.label {
  position: absolute;
  left: 10px;
  top: 3;
  pointer-events: none;
  transition: all 0.2s ease;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  top: -20px;
  font-size: 12px;
}

.btn {
  background-color: #c0d6bf;
  font-size: 1.1rem;
  padding: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.auth-a {
  color: gray;
  text-decoration: none;
  margin: 0;
}

/* NAVIGERING */

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c0d6bf;
  padding: 20px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 60px;
}

a:hover {
  color: rgb(88, 86, 86);
}

/* LOGOUT */

.logout-form input {
  border: none;
  background-color: #c0d6bf;
  cursor: pointer;
  background-color: #c0d6bf;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
  margin-bottom: -12.5px;
}

.logout-form input:hover {
  color: rgb(88, 86, 86);
}

/* MY PAGE */

.username {
  padding-left: 30px;
  font-style: italic;
}

h3 {
  padding-left: 30px;
}
.all-bookings {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #c0d6bf;
  padding: 30px;
  margin: 30px;
}

.finished-bookings {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #c0d6bf;
}

.delete-link {
  margin-left: 0;
  font-weight: 800;
}

.delete-booking {
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #c0d6bf;
}

.delete-form {
  display: flex;
  align-items: flex-start;
  padding-left: 0;
}

#delete-btn {
  padding: 5px;
  margin: 0;
  width: 60px;
}
